@model HomeViewModel
<!-- Start Banner Area -->
<section class="banner-area">
	<div class="container">
		<div class="row fullscreen align-items-center justify-content-start">
			<div class="col-lg-12">
				<div class="row single-slide align-items-center d-flex">
					<div class="col-lg-5 col-md-6">
						<div class="banner-content">
							<h1>Company <br>in Azercell!</h1>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
								incididunt ut labore et
								dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
							</p>
							<div class="add-bag d-flex align-items-center">
								<a class="add-btn" href=""><span class="lnr lnr-arrow-right"></span></a>
								<span class="add-text text-uppercase">Go to shop</span>
							</div>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="banner-img">
							<img class="img-fluid" src="~/assets/img/banner/banner-img.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->
<!-- start features Area -->
<section class="features-area section_gap">
	<div class="container">
		<div class="row features-inner">
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="~/assets/img/features/f-icon1.png" alt="">
					</div>
					<h6>Free Delivery</h6>
					<p>Free Shipping on all order</p>
				</div>
			</div>
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="~/assets/img/features/f-icon2.png" alt="">
					</div>
					<h6>Return Policy</h6>
					<p>Return policy for products</p>
				</div>
			</div>
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="~/assets/img/features/f-icon3.png" alt="">
					</div>
					<h6>24/7 Support</h6>
					<p>For your convenience constant sup</p>
				</div>
			</div>
			<!-- single features -->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="single-features">
					<div class="f-icon">
						<img src="~/assets/img/features/f-icon4.png" alt="">
					</div>
					<h6>Secure Payment</h6>
					<p>Your security is our priority</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end features Area -->
<!-- Start category Area -->
<section class="category-area">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-12">
				<div class="row">
					<div class="col-lg-8 col-md-8">
						<div class="single-deal">
							<div class="overlay"></div>
							<img class="img-fluid w-100" src="~/assets/img/category/it solutions.jpg" alt="">
							<a href="~/assets/img/category/c1.jpg" class="~/assets/img-pop-up" target="_blank">
								<div class="deal-details">
									<h6 class="deal-title">IT Solutions</h6>
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="single-deal">
							<div class="overlay"></div>
							<img class="img-fluid w-100" src="~/assets/img/category/internet packages.jpg" alt="">
							<a href="~/assets/img/category/internet packages.jpg" class="~/assets/img-pop-up" target="_blank">
								<div class="deal-details">
									<h6 class="deal-title">Internet Packages</h6>
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="single-deal">
							<div class="overlay"></div>
							<img class="img-fluid w-100" src="~/assets/img/category/call minutes.jpg" alt="">
							<a href="~/assets/img/category/call minutes.jpg" class="~/assets/img-pop-up" target="_blank">
								<div class="deal-details">
									<h6 class="deal-title">Call minutes</h6>
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-8 col-md-8">
						<div class="single-deal">
							<div class="overlay"></div>
							<img class="img-fluid w-100" src="~/assets/img/category/combined.jpg" alt="">
							<a href="~/assets/img/category/combined.jpg" class="~/assets/img-pop-up" target="_blank">
								<div class="deal-details">
									<h6 class="deal-title">Combined Products</h6>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-deal">
					<div class="overlay"></div>
					<img class="img-fluid w-100" src="~/assets/img/category/c5.jpg" alt="">
					<a href="~/assets/img/category/c5.jpg" class="~/assets/img-pop-up" target="_blank">
						<div class="deal-details">
							<h6 class="deal-title">Sneaker for Sports</h6>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End category Area -->
<!-- start product Area -->
<section >
	<!-- single product slide -->
	<div class="single-product-slider">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Latest Products</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
							incididunt ut labore et
							dolore
							magna aliqua.
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				@foreach (Product product in Model.LatestProducts)
				{
					
				<div class="col-lg-3 col-md-6">
					<div class="single-product">
							<img class="img-fluid" src="~/uploads/product/@product.ProductImages.FirstOrDefault(x=>x.isPoster==true).ImageName" alt="">
						<div class="product-details">
							<h6>
								@product.Name
							</h6>
							<span>
								@product.Company.Name
							</span>
							<div class="price">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        @if (product.DiscountPercent > 0)
                                        {
                                            <h6>
                                                @((product.SalePrice - (product.SalePrice * product.DiscountPercent) / 100).ToString("0.00"))$
                                            </h6>
                                            <h6 class="l-through">@(product.SalePrice.ToString("0.00")) $</h6>
                                        }
                                        else
                                        {
                                            <h6>@(product.SalePrice.ToString("0.00")) $</h6>

                                        }
                                    }
                                    else
                                    {

                                        <h6>@(product.SalePrice.ToString("0.00")) $</h6>
                                    }
							</div>
							<div class="prd-bottom">

								<a asp-action="index" asp-controller="checkout" asp-route-id="@product.Id" class="social-info">
									<span class="ti-bag"></span>
									<p class="hover-text">Book Now</p>
								</a>

									<a asp-action="detail" asp-controller="shop" asp-route-id="@product.Id" class="social-info">
									<span class="lnr lnr-move"></span>
									<p class="hover-text">View more</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				}
			</div>
		</div>
	</div>
</section>
<!-- end product Area -->
<!-- Start related-product Area -->
<section class="related-product-area section_gap_bottom">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center">
				<div class="section-title">
					<h1>Products of Azercell</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore
						magna aliqua.
					</p>
				</div>
			</div>
		</div>
		@await Component.InvokeAsync("AzercellProducts",Model.ProductsOfAzercell)
		
		</div>
	</div>
</section>
<!-- End related-product Area -->

